@content-width: 798px;
@graph-width: 544px;
@info-width: @content-width - @graph-width;
@info-padding: 10px;

body {
    background: #EFEFEF;
}

#content {
    width: @content-width;
    margin: 0 auto;
    background-color: #FFFFFF;
    height: 650px;
    padding-top: 20px;
    margin-top:  20px;
}

#graph {
    width: @graph-width;
    float: left;
}

#info {
    width: @info-width - 2 * @info-padding;
    height: 100%;
    margin-right: @info-padding;
    float: right;
}

#family {
    margin-top: 15px;

    .deleteMember {
        display: none;
    }

    th {
        text-align: center;
    }

    i {
        cursor: pointer;
    }

    .indexCell {
        font-weight: bold;
        padding-top: 8px;
    }

    .ageCell {
        text-align: center;
        input {
            text-align: center;
            width: 25px;
            margin-bottom: 0px;
            padding: 3px;
        }
    }

    .educationCell {
        padding-top: 8px;
        text-align: center;
        i { margin-right: 3px; }
        i.hover {
            opacity: 0.5;
        }
        i.selected.hover {
            opacity: 1;
        }
    }

    .iconsCell {
        padding-top: 8px;
        i { margin-right: 3px; }
        i.icon-minus-sign {
            margin-left: 7px;
            margin-right: 0px;
        }
    }
}

#headJob {
    width: @graph-width - 2 * @info-padding;
    float: left;
    min-height: 150px;
    padding: 0px @info-padding;

    .btn-group {
        width: (@graph-width - 2 * @info-padding)/2 - 2*@info-padding;
        float: left;
        margin-left: 0px;
        margin-right: @info-padding;

        &.full-width {
            width: 100%;
        }
    }

    label {
        width: 150px;
        float: left;
        height: 28px;
        margin-right: 25px;
    }
}