@content-width: 798px;
@graph-width: 544px;
@info-width: @content-width - @graph-width;
@info-padding: 10px;

body {
    font-size: 12px;
}

h3 {
    font-size: 16px;
}

#content {
    width: @content-width;
    height: 660px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#intro {
    margin: 0px 10px 20px 10px;

    h2 {
        text-align: center;
    }
    h6 { text-align: center }
}

#graph {
    width: @graph-width;
    float: left;
}

.sidebar {
    width: @info-width - 2 * @info-padding;
    height: 100%;
    margin-right: @info-padding;
    float: right;
}

.full-width {
    width: (@info-width - 2 * @info-padding)*2;
    margin: 60px auto 0px auto;
}

#members {
    padding-left: 10px;
}

#family {
    margin-top: 15px;

    .deleteMember {
        display: none;
    }

    th {
        text-align: center;
    }

    i {
        cursor: pointer;
    }

    .indexCell {
        font-weight: bold;
        padding-top: 8px;
        text-align: center;
    }

    .ageCell {
        text-align: center;
        input {
            text-align: center;
            width: 25px;
            margin-bottom: 0px;
            padding: 3px;
        }
    }

    .educationCell {
        padding-top: 8px;
        text-align: center;
        i { margin-right: 3px; }
        i.hover {
            opacity: 0.5;
        }
        i.selected.hover {
            opacity: 1;
        }
    }

    .iconsCell {
        padding-top: 8px;
        i { margin-right: 3px; }
        i.icon-minus-sign {
            margin-left: 7px;
            margin-right: 0px;
        }
    }
}

#head {
    float: left;
    min-height: 150px;
    padding: 0px @info-padding;

    .btn-group {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    label {
    }

    .select-full {
        width: 100%;
    }
}

#graph {
//   padding-left: 5px;

    .data-line {
        stroke: steelblue;
        stroke-width: 2;
        fill: none;
        stroke-dasharray: 0;
    }

    path {
        stroke: #eee;
        stroke-width: 2;
        stroke-dasharray: 0;
        fill: none;
    }

    .area {
        fill: lightsteelblue;
    }

    text {
        font-family: Arial;
        font-size: 8pt;
        fill: #787878;
    }

    line {
        stroke: #CDCDCD;
        stroke-width: 0.5;
    /* stroke-dasharray: 3 3; */
        fill: none;
    }

    .data-point {
        stroke: steelblue;
        stroke-width: 2;
        fill: #FFF;
        cursor: pointer;
    }

    #chart {
        margin: 0;
    }
}

// legend
#legend {
    margin-left: 24px;
    ul {
        list-style: none;
        marign-left: 20px;

        li {
            float: left;
            background-color: #ACACAC;
            margin-right: 11px;
            padding: 3px 15px;
        }
    }
}

#notes {
    float: left;
    position: relative;
    margin-top: 40px;
    left: 45px;
    width: 480px;
    color: #999999;
    p { margin-bottom: 0px; }
}

#labels {
    font-family: Arial;
    font-size: 8pt;
    color: #787878;

    .quintile1 {
        float: left;
        width: 80px;
        text-align: center;
        position: relative;
        left: 35px;
    }

    .quintile3 {
        float: left;
        width: 100px;
        text-align: center;
        position: relative;
        left: 155px;
    }

    .quintile5 {
        float: right;
        width: 80px;
        text-align: center;
        position: relative;
        right: 8px;
    }
}

.icon-male {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/assets/img/male.gif");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.icon-female {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/assets/img/female.gif");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.step1, .step2, .step4 {
    width: 234px;
}

.step2a {
    width: 200px;
}

.step3 {
    width: 132px;
    top: 480px;
}

#help {
    float: right;
    position: relative;
    right: 10px;
    cursor: pointer;
}

#footer {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #818181;
    border-top: solid 1px #d2d2d2;
    padding-top: 10px;
    .credits {
        float: right;
    }
    .logo {
        position: relative;
        top: -3px;
    }
}
